*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}


:root{
    --primary-color: #1a1d29
}

.toolbox-cont{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    background-color: var(--primary-color);
}

.brand-section{
    display: flex;
    align-items: center;
}

.brand-title{
    color: white;
    margin: 1.5rem;
}

.filter-label{
    color: white;
}

.toolbox-priority-colors{
    display: flex;
    align-items: center;
}

.color-filters{
    display: flex;
    
    
}

.color{
   
    height: 3rem;
    width: 3rem;
    margin: 0.5rem;
    border-radius: 50%;
}


.lightpink{
background-color: lightpink;
}

.lightgreen{
background-color: lightgreen;
}

.lightblue{
background-color: lightblue;
}

.lightyellow{
background-color: yellow;
}



